body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(64, 2, 189, 0.97);
    margin: 0;
    padding: 0;
}

.top-footer{
    background-color: white;
    height: 40px;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px
}

.produto{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.produto img{
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;

}

.produtp h3{
    margin: 10px 0;
}

.preco{
    font-size: 18px;
    font-weight: bold;
}

.btn {
    margin-top: 10px;
    padding: 8px 15px;
    background: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0d54b8;
}


.bottom-footer {
    background-color: white;
    height: 40px;
    margin-top: 20px;
}